(it_security_guys_nl_tls) {
	tls /certs/it_security_guys_nl/fullchain.pem /certs/it_security_guys_nl/privkey.pem
}

(it_sg_net_tls) {
	tls /certs/it_sg_net/fullchain.pem /certs/it_sg_net/privkey.pem
}

(wazuh_proxy) {
	reverse_proxy wazuh.dashboard:5601 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
		header_up Host wazuh.dashboard
	}
}

ams-tuxido-se01.it-sg.net {
	import it_sg_net_tls
	import wazuh_proxy
}

*.it-security-guys.nl {
	import it_security_guys_nl_tls

	# PowerShell UA → serve .ps1 file
	@ps1ua {
		path /register/*
		header_regexp User-Agent PowerShell
	}
	handle @ps1ua {
		root * /register/{labels.2}
		uri strip_prefix /register
		rewrite * {path}.ps1
		file_server
	}

	# All other clients → serve shell script
	handle /register/* {
		root * /register/{labels.2}
		uri strip_prefix /register
		file_server
	}

	reverse_proxy wazuh.dashboard:5601 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
		header_up Host wazuh.dashboard
		header_up securitytenant tenant_{labels.2}
	}
}
